<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Instaapp</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    
    <link href="/isotope/css/style.css" rel="stylesheet" />

    <script src="/isotope/js/jquery-1.7.1.min.js"></script>
    <script src="/isotope/jquery.isotope.min.js"></script>
    <script src="/isotope/js/jquery.ba-bbq.min.js"></script>
    <script src="/isotope/js/fake-element.js"></script>
    <script src="/isotope/js/jquery.infinitescroll.min.js"></script>
    <script src="/isotope/js/make-big-graph-projects.js"></script>
  </head>

  <body style="background:#000;">
    <div class="hoge">
      <div class="header">
        <a href="http://evening-sea-7671.herokuapp.com/"><span>&laquo; Instapp: </span>©Onigra</a>
        <span class="right_ab">
          <a href="https://github.com/onigra/"><strong>Contact</strong></a>
        </span>
      </div>

      <div id="container" class="clearfix">
        <% @pictures.each do |i| %>
          <%= i %>
        <% end %>
      </div>
    </div>

    <script type="text/javascript">
      $('#container').isotope({
        layoutMode : 'fitRows',
        masonryHorizontal : {
          rowHeight: 100
        }
      });
    </script>

  </body>
</html>
