<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Instaapp</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<!--
    <link href="/stalactite/c/style.css" rel="stylesheet" />
    <link href="/stalactite/c/gs.css" rel="stylesheet" />
--!>
    <link href="/css/978_grid.css" rel="stylesheet" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script src="/stalactite/j/jquery.stalactite.min.js"></script>
  </head>

  <body style="background:#000;">
    <div class="hoge">
      <div class="header">
        <a href="http://evening-sea-7671.herokuapp.com/"><span>&laquo; Instapp: </span>©Onigra</a>
        <span class="right_ab">
          <a href="https://github.com/onigra/"><strong>Contact</strong></a>
        </span>
      </div>

      <div class="container clearfix">
        <% @pictures.each do |i| %>
          <%= i %>
        <% end %>
      </div>
    </div>

    <script type="text/javascript">
      $(function() {
        $("#foo").stalactite({
          duration: 350                        // アニメーションスピード
         // easing: 'swing'                      // Easingメソッド
          //cssPrefix: '.stalactite',             // class名
          //cssPrep: true,                        // 子要素のcssの変更の有無
          //fluid: true,                          // ウィンドウサイズでfluidさせるかどうか
          //loader: '<img />',                    // ローディング画像のパス
          //styles: {}                            // スタイル。位置とか
          //complete: function(v) { return v; }  // コールバック関数
        });
      });
    </script>

  </body>
</html>
