<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Instaapp</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    <link href="/lightbox/css/lightbox.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow&v1' rel='stylesheet' />
    <link href='http://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' />
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/Grid-A-Licious/jquery.grid-a-licious.js"></script>
    <script src="/lightbox/js/lightbox.js"></script>
  </head>

  <body style="background:#000;">
    <div class="container">
      <div class="header">
        <a href="http://evening-sea-7671.herokuapp.com/"><span>&laquo; Instapp: </span>©Onigra</a>
        <span class="right_ab">
          <a href="https://github.com/onigra/"><strong>Contact</strong></a>
        </span>
      </div>

      <div id="device">
        <% @pictures.each do |i| %>
          <%= i %>
        <% end %>
      </div>
    </div>

    <script type="text/javascript">
      $(function() {
        $("#device").gridalicious({
          gutter: 20,
          animate: true
        });
      });
    </script>

  </body>
</html>
