<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Instaapp</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    <link href="/css/style.css" rel="stylesheet" />
    <link href="/colorbox/src/colorbox.css" rel="stylesheet" />
    
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="/Grid-A-Licious/jquery.grid-a-licious.js"></script>
    <script src="/colorbox/src/jquery.colorbox.js"></script>
  </head>

  <body style="background:#000;">
    <div>
      <a href="http://evening-sea-7671.herokuapp.com/"><span>&laquo; Instapp: </span></a>
      <a href="https://github.com/onigra/" target="_blank"><strong>©Onigra</strong></a>

      <div id="device" class="container">
        <% @pictures.each do |i| %>
          <%= i %>
        <% end %>
      </div>
    </div>

    <script type="text/javascript">
      $(function() {

        $("#device").gridalicious({
          gutter: 20,
          animate: true
        });

        $('a.gallery').colorbox({
          rel:'gal',
          transition:"fade"
        });
  
      });
    </script>

  </body>
</html>
